# Langchain
langgraph
langgraph-checkpoing-postgres
langsmith
langchain
langchain-community
langchain-unstructured
langchain-huggingface
langchain-core
langchain-openai

llama-api-client
pydantic
openai

huggingface-hub
sentence-transformers
beautifulsoup4

fastapi
python-multipart

bert_score
rouge