langgraph
llama-api-client
langgraph-cli[inmem]
pydantic
openai

# Langchain
langsmith
langchain
langchain-community
langchain-unstructured
langchain-huggingface
langchain-core
langchain-openai

huggingface-hub
sentence-transformers
langchain-mongodb
beautifulsoup4