langgraph
langgraph-sdk
llama-api-client
langgraph-cli[inmem]
pydantic
openai

# fastapi
fastapi
uvicorn
python-multipart

debugpy

# pydantic-settings
# python-multipart

# FastAPI and server

# HTTP client
# aiohttp
# requests

# Monitoring and logging
# prometheus-client
# structlog

# Development and hot-reload support
# watchfiles

# Langchain
langsmith
langchain
langchain-community
langchain-unstructured
langchain-huggingface
langchain-core
langchain-chroma
langchain-openai

# Database
langgraph-checkpoint-postgres
langchain-postgres
psycopg2-binary


huggingface-hub>=0.24.0
sentence-transformers
langchain-mongodb

# Document Processing
pillow
beautifulsoup4
requests
trafilatura


# Media Processing
yt-dlp
instaloader
ffmpeg-python

# Audio Processing

torchaudio
accelerate
aiofiles

transformers
torch
pyannote-audio

# Firebase
firebase-admin

# Image processing
opencv-python
mediapipe
langgraph-api