# Langchain
langgraph
langgraph-checkpoint-postgres
langsmith
langchain
langchain-community
langchain-unstructured
langchain-huggingface
langchain-core
langchain-openai

llama-api-client
pydantic
openai

huggingface-hub
sentence-transformers
beautifulsoup4

fastapi
python-multipart

yt_dlp

bert_score
rouge

# end of base image 

# auth
supabase
auth0-fastapi-api
python-jose[cryptography]
httpx
