EMBEDDING_MODEL=
HUGGINGFACE_TOKEN=
LANGSMITH_API_KEY=
LANGSMITH_API_URL=
MODEL=
LLAMA_API_KEY=
LLAMA_API_BASE_URL=

# PRODUCTION
VECTORSTORE_POSTGRES_URI=
ASYNC_POSTGRES_STORE_URI=

# LOCAL TESTING
# POSTGRES_URI=
# ASYNC_POSTGRES_STORE_URI=


